<h1 mat-dialog-title>Change Password</h1>
<form
  [formGroup]="changePasswordForm"
  (ngSubmit)="!isLoading && changePasswordForm.valid && changePassword()"
  mat-dialog-content
>
  <mat-form-field appearance="fill">
    <mat-label>Current Password</mat-label>
    <input
      type="password"
      matInput
      required
      formControlName="currentPassword"
      name="currentPassword"
      placeholder="Please enter your current password."
      cdkFocusInitial
    >
  </mat-form-field>

<mat-form-field appearance="fill">
    <mat-label>Password</mat-label>
    <input
      type="password"
      matInput
      formControlName="newPassword"
      required
      placeholder="Please enter your password.">
    <mat-hint>input password.</mat-hint>
    <mat-error *ngIf="changePasswordForm.controls.newPassword.errors?.['required'] || false">
      Password is <strong>required</strong>
    </mat-error>
    <mat-error *ngIf="changePasswordForm.controls.newPassword.errors?.['minlength'] || false">
      The minimum length is <strong>{{ passwordMinLength }}</strong> characters.
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Password Repeat</mat-label>
    <input
      type="password"
      matInput
      formControlName="newPasswordRepeat"
      [errorStateMatcher]="matcher"
      placeholder="Please enter your password again.">
    <mat-hint>input password again.</mat-hint>
    <mat-error *ngIf="changePasswordForm.controls.newPasswordRepeat.errors?.['required'] || false">
      Password is <strong>required</strong>
    </mat-error>
    <mat-error *ngIf="changePasswordForm.controls.newPasswordRepeat.errors?.['minlength'] || false">
      The minimum length is <strong>{{ passwordMinLength }}</strong> characters.
    </mat-error>
    <mat-error *ngIf="changePasswordForm.errors?.['passwordStrength'] || false">
      Passwords do not match.
    </mat-error>
  </mat-form-field>

  <div mat-dialog-actions>
    <button mat-button mat-dialog-close>Cancel</button>
    <button [disabled]="isLoading || changePasswordForm.invalid" type="submit" mat-flat-button color="primary" [class.spinner]="isLoading">Ok</button>
  </div>
</form>
