<h2>Reset Password</h2>
<form
  class="reset-passsword-form"
  [formGroup]="resetPasswordForm"
  (ngSubmit)="resetPassword()"
>
  <mat-form-field appearance="fill">
    <mat-label>Password</mat-label>
    <input
      type="password"
      matInput
      formControlName="password"
      required
      [minlength]="passwordMinLength"
      placeholder="Please enter your password.">
    <mat-hint>input password.</mat-hint>
    <mat-error *ngIf="resetPasswordForm.controls.password.errors?.['required'] || false">
      Password is <strong>required</strong>
    </mat-error>
    <mat-error *ngIf="resetPasswordForm.controls.password.errors?.['minlength'] || false">
      The minimum length is <strong>{{ passwordMinLength }}</strong> characters.
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Password Repeat</mat-label>
    <input
      type="password"
      matInput
      formControlName="passwordRepeat"
      required
      [errorStateMatcher]="matcher"
      [minlength]="passwordMinLength"
      placeholder="Please enter your password again.">
    <mat-hint>input password again.</mat-hint>
    <mat-error *ngIf="resetPasswordForm.controls.passwordRepeat.errors?.['required'] || false">
      Password is <strong>required</strong>
    </mat-error>
    <mat-error *ngIf="resetPasswordForm.controls.passwordRepeat.errors?.['minlength'] || false">
      The minimum length is <strong>{{ passwordMinLength }}</strong> characters.
    </mat-error>
    <mat-error *ngIf="resetPasswordForm.errors?.['passwordStrength'] || false">
      Passwords do not match.
    </mat-error>
  </mat-form-field>


  <button type="submit" mat-flat-button [disabled]="isLoading || resetPasswordForm.invalid" [class.spinner]="isLoading" color="primary">Submit</button>
</form>
